.fondbody {
    background-image: url("../pictures/bg-crepe.jpg") ;
    background-repeat: no-repeat;
    background-position: bottom center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    padding-top: 65vh;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: white;
}

.navbar-default .navbar-toggle {
    margin-top: 20px;
}

#logo {
    width: calc(70%);
    margin-top: calc(2vh);
    margin-bottom: calc(3vh);
    margin-left: calc(1vw);
}

.puce {
    margin-top: calc(5vw);
    margin-right: calc(1vw);
    font-size: calc(1vw);
    color: black;
}

#logott {
    width: 40%;
    margin-top: calc(9vh);
}

#logofb {
    width: 30%;
    margin-left: 2vw;
    margin-top: calc(9vh);
}

.navbar-default .navbar-nav > li > a {
    color: black;
}

.textShadow {
    text-shadow: 1px 1px 2px black;
}

.titleHeader {
    font-size: calc(3vw);
    margin-top: -33vh;
    color:white;
    text-shadow: 1px 1px 2px black;
}

p {
    font-size: calc(2vw);
    color: white;
    text-shadow: 1px 1px 2px black;
}

.container {
    margin-left: calc(9vw);
    margin-top: calc(10vh);
}

hr {
    height: calc(0.2vw);
    visibility: hidden;
}

#puce {
    border: 1px solid black;
    border-radius: 50px;
}

.btnHeader {
    font-size: calc(1vw);
    background: rgb(254,236,4);
    border: 1px solid grey;
    border-radius: 50px;
    box-shadow: 1px 1px 2px black;
    width: calc(15vw);
    height: calc(5vh);
    color: black;
    text-decoration: none;
}

.bio {
    margin-top: 20vh;
    background: white;
    height: auto;
}

.aboutUs {
    font-size: 2.3vw;
    color: black;
    text-align: center;
    margin-bottom: 4vh;
    margin-top: 2vh;
}

#logo1 {
    margin-top: 6vh;
    margin-left: 8vw;
}

#logo2 {
    margin-top: 14vh;
    margin-left: -7vw;
}


/*---------------------------------------media queries header----------------------------------------------------*/
@media (max-width: 765px) {

    #logo {
        width: 30%;
    }

    .fondbody {
        background-image: url("../pictures/bg-crepemini.png") ;
        background-repeat: no-repeat;
        background-position: bottom center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        height: 50%;
        padding-top: 20vh;
    }

    .puce {
        margin-top: calc(5vw);
        margin-right: calc(1vw);
        font-size: calc(3.2vw);
        color: black;
    }

    #puce {
        border: 1px solid black;
        border-radius: 50px;
        width: 30%;
        text-decoration: none;
    }

    h1 {

        font-size: calc(6vw);
        color: white;
        text-shadow: 1px 1px 2px black;
    }

    p {
        font-size: calc(4vw);
        color: white;
        text-shadow: 1px 1px 2px black;
    }

    .btnHeader {
        font-size: calc(2.5vw);
        background: rgb(254,236,4);
        border: 1px solid grey;
        border-radius: 50px;
        box-shadow: 1px 1px 2px black;
        width: calc(35vw);
        height: calc(10vw);
        color: black;
        text-decoration: none;
    }

    .bio {
        background: white;
        height: auto;
    }

    .aboutUs {
        font-size: 3vw;
        color: black;
        text-align: center;
        margin-bottom: 4vh;
        margin-top: 2vh;
    }

    #logo1 {
        width: 100%;
        margin-top: 5vh;
        margin-left : 3vw;
    }

    #logo2 {
        width: 100%;
        margin-top: 8vh;
        margin-left: -2vw;
    }

    #logott {
        width: 10%;
    }

    #logofb {
        width: 10%;
    }

    .titleHeader {
        font-size: calc(4vw);
        padding-top: 35vh;
        color: white;
        text-shadow: 1px 1px 2px black;
    }


}



/*------------------------------------------fin media queries header-------------------------------------------------*/

/*------------------------------------------------footer-------------------------------------------------------------*/
.footer {
    background: black;
    height: 260px;

}

.footer2 {
    margin-top: 12vh;
    text-align: center;
}

strong {
    text-decoration: underline;
    margin-right: 3vw;
}
/*-----------------------------------------media queries footer------------------------------------------------------*/

@media (max-width: 480px) {

    .footer {
        background: black;
        height: 100px;
    }

    .footer2 {
        margin-top: 8vh;
        text-align: center;
    }
}

/*----------------------------------------fin media queries footer---------------------------------------------------*/