{% include "Admin/head.html.twig" %}
{% include "Admin/header.html.twig" %}

<h1 class="adminStyle">Ajouter des photos de la carte</h1>

<p>{{ error }}</p>

<div class="container">
    <div class="row">
        <div class="col-xs-5">
            - Les photos rajoutées iront sur la carte,<br/>
            - 4 max
        </div>
        <div class="col-xs-7">
            <form action="" method="post" enctype="multipart/form-data">
                <label for="upload">Choisissez l'image à envoyer:</label>
                <input type="file" name="upload" id="upload">
                <input type="submit" value="envoyer" class="btn btn-primary marginBottom" name="Envoyer">
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>