<body class="fontsSegoe">
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.php">Au Pen Duick</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="?route=menuAdmin">La Carte</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">Gestion
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="?route=addFood">Plats</a></li>
                        <li><a href="?route=addCategory">Catégories</a></li>
                        <li><a href="?route=addType">Types</a></li>
                        <li><a href="?route=addExtra">Suppléments</a></li>
                    </ul>
                </li>
                <li><a href="?route=updateText">Modifier un texte</a></li>
                <li><a href="?route=addPicture">Rajouter une image</a></li>
                <li><a href="?route=deletePicture">Supprimer une image</a></li>
            </ul>
        </div>
    </nav>
</header>