{% include "head.html.twig" %}
{% include "Admin/headerAdmin.html.twig" %}

    <div class="container">
        <h1 class="titreMenu">ADMIN</h1>
    </div>

    <p>SELECTIONNEZ UNE ACTION DANS LE MENU</p>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
    </html>