<section id="aboutUs" class="container-fluid " >
    <div class="row">
        <div class="logoaupenduick">
            <img src="pictures/logotype-au-pen-duick.png" alt="logo" class="logoAboutUs img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="aboutUs">
            <p>{{ company.about_us | raw }}</p>
        </div>
    </div>
</section>