<section id="event" class="container-fluid event" >
    <div class="row">
        <div class="transition">
            {% if company.event != '' %}
                <p>{{ company.event | raw }}</p>
            {% endif %}
        </div>
    </div>
</section>