<div class="container-fluid">
    <div class="row row1" id="localisation">

        <div class="map">
            <div>
                <p class="localisation"><span class="glyphicon glyphicon-map-marker"></span> LOCALISATION -&nbsp<span
                            class="yellow">AU PEN DUICK</span></p>
            </div>

            <iframe width="100%" height="600px" frameBorder="0"
                    src="https://umap.openstreetmap.fr/en/map/untitled-map_172607?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false"></iframe>

        </div> <!-- FIN DIV MAP -->
    </div> <!-- FIN DIV ROW 1 -->

    <div class="row row2">

        <div class="col-sm-offset-1 col-sm-5 tram">

            <h3>ACCES TRAM</h3>

            <a href="http://www.reseau-tao.fr/me-deplacer/les-plans-et-lignes/les-lignes-de-tram/ligne-b/"
               class="btn tram1" type="button">
                LIGNE <span class="badge">B</span>
            </a> - Arrêt Léon Blum

        </div> <!-- FIN DIV TRAM -->

        <div class="col-sm-5 bus">

            <h3>ACCES BUS</h3>
            <a href="http://www.reseau-tao.fr/me-deplacer/les-plans-et-lignes/les-lignes-de-bus/ligne-2/"
               class="btn bus1" type="button">
                LIGNE <span class="badge">2</span></a>
            <a href="http://www.reseau-tao.fr/me-deplacer/les-plans-et-lignes/les-lignes-de-bus/ligne-8/"
               class="btn bus2" type="button">
                LIGNE <span class="badge">8</span></a>
            <a href="http://www.reseau-tao.fr/me-deplacer/les-plans-et-lignes/les-lignes-de-bus/ligne-12/"
               class="btn bus3" type="button">
                LIGNE <span class="badge">12</span></a>
            <a href="http://www.reseau-tao.fr/me-deplacer/les-plans-et-lignes/les-lignes-de-bus/ligne-15/"
               class="btn bus4" type="button">
                LIGNE <span class="badge">15</span></a>
            <a href="http://www.reseau-tao.fr/me-deplacer/les-plans-et-lignes/les-lignes-de-bus/ligne-34/"
               class="btn bus5" type="button">
                LIGNE <span class="badge">34</span></a>
            <a href="http://www.reseau-tao.fr/me-deplacer/les-plans-et-lignes/les-lignes-de-bus/ligne-37/"
               class="btn bus6" type="button">
                LIGNE <span class="badge">37</span></a>

        </div> <!-- FIN DIV BUS -->

    </div> <!-- FIN DIV ROW 2 -->

</div> <!-- FIN DIV CONTAINER FLUID -->