<footer>
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <p class="footer2"><strong>AU PEN DUICK .COM </strong>Copyright © 2017  tous droits réservés.</p>
                </div>
            </div>


            <div class="rowfooter">
                <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-3">
                    <a href="#"><img src="pictures/1458848096_social_3.png" alt="icon-bar" id="logofb" class="pull-right"></a>
                    <a href="#"><img src="pictures/instagram.png" alt="icon-bar" id="logoInsta" class="pull-right"></a>
                    <a href="#"><img src="pictures/facebook-twitter-pinterest-internet-communication-media-social-icon.png"
                     alt="icon-bar" id="logoPinter" class="pull-right"></a>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

</body>

</html>