<footer>
    <div id="footer" class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <p class="footer2"><strong>AU PEN DUICK .COM </strong>Copyright © 2017 tous droits réservés.<br/>
                        75 avenue du général Leclerc 45800 Saint Jean de Braye 02 38 66 66 66</p>
                </div>
            </div>


            <div class="rowfooter">
                <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-3">
                    <a href="#"><img src="pictures/1458848096_social_3.png" alt="icon-bar"
                                     class="pull-right logofb"></a>
                    <a href="#"><img src="pictures/instagram.png" alt="icon-bar" class="pull-right logoInsta"></a>
                    <a href="#"><img
                                src="pictures/facebook-twitter-pinterest-internet-communication-media-social-icon.png"
                                alt="icon-bar" class="pull-right logoPinter"></a>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

</body>

</html>