{% include "head.html.twig" %}
{% include 'header.html.twig' %}

<section class="bodyLegalNotice">
    <div class="container-fluid">
        <div class="row">
            <div class="legalNoticeContent">
                Mentions légales à intégrer
            </div>
        </div>
    </div>
</section>

{% include 'footer.html.twig' %}