<section id="menu" class="fondMenu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="titleMenu">
                    <img src="pictures/couverts.png" class="logoMenu" alt="Couverts">
                    <span class="yellow">LA CARTE</span>
                </h1>
                <span class="titleStars">********************************************</span>
                <br/>
                <span class="titlePhrase"><?= $displayText[4] ?></span>
            </div>
            <?php
                for ($i = 5; $i <= 8; $i++) {
                    ?>
                    <div class="col-xs-4 col-xs-offset-1 menuMargin">
                         <div class="vignettes">
                             <div class="col-xs-12">
                                 <h3><?= $displayText[$i] ?></h3>
                             </div>
                             <img src="pictures/<?= $displayPictureLocalSrc[$i] ?>" alt="<?= $displayPictureName[$i] ?>"/>
                         </div>
                    </div>
                    <?php
                }
            ?>
        </div><!-- row -->
    </div><!-- container -->
</section>
