<section id="menu" class="fondMenu">
    <div class="container-fluid">
        <div class="row">
            {#TITRE#}
            <h1 class="titleMenu">
                <img src="pictures/couverts.png" class="logoMenu" alt="Couverts">
                <span class="yellow">LA CARTE</span>
            </h1>
            <span class="titleStars">********************************************</span>
            <br/>
            <span class="titlePhrase">Découvrez la carte de votre restaurant Au Pen Duick <span class="yellow textShadow">&</span> ses spécialitées</span>
            {#Catégories#}
            <div class="row espaceCote">
            {% for category in categories %}
                <div class="col-sm-6 col-md-6 col-lg-4 vignettes">
                    <a href="?route=carte">
                        <figure class="thumbnail radius">
                            <figcaption>
                                <h3>{{ category.nameShortcut }}</h3>
                            </figcaption>
                            <img src="pictures/upload/{{ category.picture }}" alt="{{ category.picture }}" />
                        </figure>
                    </a>
                </div>
            {% endfor %}
            </div>
        </div><!-- row -->
    </div><!-- container -->
</section>