<section id="whoarewe" class="fondbody">
    <div class="container">
        <div class="row">
            <h1 class="titleHeader">{{ company.header | raw }}</h1>
            <hr/>
            <p>{{ company.subHeader | raw }}</p>
            <hr/>
            <form action="?route=carte" method="post">
                <button type="submit" class="btn-sm btnHeader" src>VOIR LA CARTE</button>
            </form>
        </div>
    </div>
</section>