<section>
    <div class="fondbody">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="titleHeader">{{ displayTexts.1 | raw }}</h1><hr/>
                    <p>{{ displayTexts.2 | raw }}</p><hr/>
                    <button type="button" class="btnHeader"><strong>VOIR LA CARTE</strong></button>
                </div>
            </div>
        </div>
        <div class="bio">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-5 col-xs-offset-1  col-md-5 col-md-offset-2">
                        <img src="pictures/logotype-au-pen-duick.png" alt="logo1" id="logo1" class="img-responsive">

                    </div>
                    <div class="col-xs-5 col-md-5">
                        <img src="pictures/logotype-val-de-rance.png" alt="logo2" id="logo2" class="img-responsive">

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <p class="aboutUs">{{ displayTexts.3 | raw }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>