<section id="whoarewe" class="fondbody">
    <div class="container">
        <div class="row">
            <h1 class="titleHeader">{{ company.header | raw }}</h1>
            <hr/>
            <p>{{ company.header_2 | raw }}</p>
            <hr/>
            <button type="button" class="btnHeader"><strong>VOIR LA CARTE</strong></button>
        </div>
    </div>
</section>