.hidden {
    display: none;
}

.sizePicture{
    width:300px;
}

.tabDelete {
    margin-top: 40px;
    margin-left: 50px;
}

.tabDelete tr, td, th {
    border: 1px solid black;
    text-align: center;
}

.addPicture input, label {
    margin-top:15px;
}
