/* GENERAL */

.row0, .row1, .row2{
    background: white;
}

/* SECTION QUI NOUS SOMMES */

.logoaupenduick{
	margin-top: 20px;
}

.aboutUs {
    font-size: 27px;
    color: black;
    text-align: center;
    margin-bottom: 4vh;
    margin-top: 2vh;
}

/* SECTION LOCALISATION */

.localisation{
	font-size: 35px;
    background-color: black;
    color: white;
    height: 150px;
    display:flex;
    align-items: center;
    justify-content: center;
}

iframe{
    background: gray;
    border: none;
    background: transparent;
    width: 100%;
    margin-top: -10px;
}

/* SECTION TRANSPORTS EN COMMUN */

.bus, .tram, .map, .row0{
    text-align: center;
}

.bus, .tram{
	margin-bottom: 30px;
}

.tram a, .bus a{
	color: white;
}

.badge{
    background: white;
    color: black;
}

.tram1{
    background: rgb(116,50,137);
    color: white;
}

.bus1{
    background: rgb(0,128,71);
}

.bus2{
    background: rgb(180,30,140);
}

.bus3{
    background: rgb(217,138,185);
}

.bus4{
    background: rgb(251,213,66);
}

.bus5{
    background: rgb(165,178,28);
}

.bus6{
    background: rgb(171,163,78);
}

/* MEDIA QUERIES POUR TYPOS */

@media (max-width: 650px) {

	.aboutUs{
		font-size: 18px;
	}

	.localisation{
	font-size: 20px;
	}
	
}

