.menuFond {
    background-image: url("../../pictures/bg-crepe.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 49vh;
    border:1px solid black;
}

.titreMenu {
    font-size: 6vw;
    color: yellow;
    text-shadow: 2px 2px 1px black;
    padding-top: 23vh;
}

/* Onglets */
.underTitle {
    text-align: center;
    font-size: 3vw;
    color: white;
}
.nav > li > .couleurOnglet {
    position: relative;
    display: block;
    padding: 1.5vh 3vw;
    width: 20vw;
    text-align:center;
    color: black;
    font-weight: bold;
    font-size: 1vw;
}

.nav-pills > li > a {
    margin-left: 1vw;
    width: 145px;
    text-align: center;
    border: 1px solid black;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border: 1px solid black;
}

/* Onglet actif */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active {
    color: yellow;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display: inline-block;
}


.nav > li > .couleurOnglet {
    position: relative;
    display: block;
    padding: 1.5vh 3vw;
    width: 20vw;
    text-align:center;
    color: black;
    font-weight: bold;
    font-size: 1vw;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: black;
    font-size: 1vw;
    font-weight: bold;
    background: white;
}

.tab-content {
    color: white;
    margin-bottom: 15px;
}

a {
    color: black;
}

a:hover, a:focus {
    color: black;
}

.titreCategorie {
    font-size: calc(1.5vw + 10px);
    text-align: center;
    margin-top: 12vh;
    margin-bottom: 5vh;
    font-weight: bold;
    color: black;
}

.category {
    margin-top: 25px;
    margin-bottom: 2vh;
    font-size: 1.8vw;
    font-weight: bold;
    color: black;
}

.description {
    font-style: italic;
    font-size: 1.2vw;
    color: black;
    margin-bottom: 2vh;
}

.price {
    padding-right: 10px;
    float:right;
    font-size: 1.5vw;
    color: black;
}

/* Photos de coté */
.rowP {
    border: 1px solid black;
    border-radius: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*background: url("../../pictures/wall-4-light.png") , #232428;*/
    width:100%;
}

.picture {
    margin-left: -20px;
    margin-bottom: 15px;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.pictureDetail {
    margin-top: 100%;
    border: 1px solid black;
}