/* **************** */
/*		FONTS		*/
/* **************** */

@font-face {
    font-family: "Segoe";
    src: url('../fonts/segoe.ttf');
}

.fontsSegoe {
    font-family: "Segoe";
}

/* **************** */
/*		COMMUN		*/
/* **************** */

hr {
    height: 0.2vw;
    visibility: hidden;
}

p {
    font-size: 2vw;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.yellow {
    color: rgb(254, 236, 4);
}

.textShadow {
    text-shadow: 1px 1px 2px black;
}

/* **************** */
/*		NAVBAR		*/
/* **************** */

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: white;
}

.navbar-default .navbar-toggle {
    margin-top: 20px;
}

.navbar-default .navbar-nav > li > a {
    color: black;
}

.logo1 {
    width: 25%;
    margin-top: 2vh;
    margin-bottom: 3vh;
    margin-left: 1vw;
}

.puce {
    margin-top: 1.7vw;
    margin-right: 1vw;
    font-size: calc(1.3vw+ 3px);
    color: black;
}

/* **************** */
/*		HOME		*/
/* **************** */

/*------------ Body ------------*/
.fondbody {
    background-image: url("../../pictures/bg-crepe.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    padding-top: 73vh;
}

/*------------ Who are We ------------*/
.titleHeader {
    font-size: calc(3vw + 10px);
    margin-top: -53vh;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.btnHeader {
    font-size: 1.5em;
    background: rgb(254, 236, 4);
    border: 1px solid grey;
    border-radius: 50px;
    box-shadow: 1px 1px 2px black;
    color: black;
    text-decoration: none;
}


.align {
    margin-left: 9vw;
    margin-top: 10vh;
}

/*------------ Event ------------*/
.event {
    height: auto;
    background: rgba(254,236,4,0.4);
}

/*------------ About Us ------------*/
.logoaupenduick{
    margin-top: 20px;
}

.logoaupenduick img {
    margin:auto
}

.aboutUs {
    margin-top: 25px;
    margin-bottom: 25px;
}

.aboutUs p {
    font-size: 1.5vw;
    color: black;
    text-align: center;
    margin-bottom: 4vh;
    margin-top: 2vh;
}

/*------------ Menu ------------*/
.fondMenu {
    padding-bottom: 20px;
    text-align: center;
    background-color: #85C17E;
}

.logoMenu {
    min-width: 20px;
    max-width: 30px;
    min-height: 20px;
    max-height: 30px;
}

.titleMenu {
    margin-top: 6vh;
}

.titleStars {
    color: white;
    font-size: 10px;
}

.titlePhrase {
    color: white;
    font-size: 20px;
}

.marginRow {
    margin-left: 5px;
    margin-right: 5px;
}

.vignettes {
    max-height: 20vh;
    margin-top: 20px;
    margin-bottom: 170px;
}

.vignettes h3 {
    padding-top: 15px;
    padding-bottom: 10px;
}

.radius {
    padding: 0;
    border: 0;
    border-radius: 12px;
}

.vignettes img {
    width: 100%;
    max-height: 200px;
    cursor: pointer;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

/*------------ Find Us  ------------*/
    /* GENERAL */
.row0, .row1, .row2{
    background: white;
}

    /* SECTION LOCALISATION */
.localisation{
    font-size: 2.5em;
    background-color: black;
    color: white;
}

iframe{
    margin-top: -10px;
}

.mapcenter{
    height: 150px;
    background-color: black;
    display:table;
    width: 100%;
}

.mapcenter2{
    display:table-cell;
    vertical-align:middle;
}

    /* SECTION TRANSPORTS EN COMMUN */
.bus, .tram{
    margin-bottom: 30px;
}

.tram a, .bus a{
    color: white;
}

.badge{
    background: white;
    color: black;
}

.tram1{
    background: rgb(116,50,137);
    color: white;
}

.bus1{
    background: rgb(0,128,71);
}

.bus2{
    background: rgb(180,30,140);
}

.bus3{
    background: rgb(217,138,185);
}

.bus4{
    background: rgb(251,213,66);
}

.bus5{
    background: rgb(165,178,28);
}

.bus6{
    background: rgb(171,163,78);
}

/* **************** */
/*		FOOTER		*/
/* **************** */

.footer {
    background: black;
    height: auto;
    padding-bottom: 10px;
}

.footerP {
    margin-top: 12vh;
    font-size: 20px;
    text-align: center;
    color: lightgrey;
}

strong {
    text-decoration: underline;
    margin-right: 3vw;
}

.logoPinter {
    width: 15%;
    margin-right: 15px;
}

.logoInsta {
    width: 15%;
    margin-right: 15px;
}

.logofb {
    width: 14%;
    margin-top: 2px;
    border: 2px solid black;
    border-radius: 50px;
}

.rowfooter {
    margin-top: 15px;
}

.rowSpacer {
    margin-top: 15px;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {

    .puce {
        margin-top: 1.7vw;
        font-size: calc(1vw + 1.5px);
        color: black;
    }

    .logo1 {
        width: 40%;
        margin-top: 2vh;
        margin-bottom: 3vh;
        margin-left: 1vw;
    }
}